@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600&family=IBM+Plex+Sans+Thai:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'IBM Plex Sans Thai';
    --font-looped: 'IBM Plex Sans Thai Looped';

    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.25rem;
    --font-size-h5: 1rem;
    --font-size-h6: 0.875rem;
    --font-size-tiny: 0.75rem;
    --font-size-body1: 1rem;
    --font-size-body2: 0.875rem;
    --font-size-body3: 0.75rem;

    --line-height-h1: 3.5rem;
    --line-height-h2: 2.75rem;
    --line-height-h3: 2rem;
    --line-height-h4: 1.65rem;
    --line-height-h5: 1.5rem;
    --line-height-h6: 1.25rem;
    --line-height-tiny: 1.125rem;
    --line-height-body1: 1.5rem;
    --line-height-body2: 1.25rem;
    --line-height-body3: 1.125rem;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --shadow-sm: 0px 1px 2px 0px rgba(30, 41, 59, 0.05);
    --shadow-default: 0px 1px 2px 0px rgba(30, 41, 59, 0.06), 0px 1px 3px 0px rgba(30, 41, 59, 0.1);
    --shadow-md: 0px 2px 4px -1px rgba(30, 41, 59, 0.06), 0px 4px 6px -1px rgba(30, 41, 59, 0.1);
    --shadow-lg: 0px 4px 6px -2px rgba(30, 41, 59, 0.05), 0px 10px 15px -3px rgba(30, 41, 59, 0.1);
    --shadow-xl: 0px 10px 10px -5px rgba(30, 41, 59, 0.04);
    --shadow-2xl: 0px 25px 50px -12px rgba(30, 41, 59, 0.25);
    --shadow-inner: inset 0px 2px 4px 0px rgba(30, 41, 59, 0.06);
    --shadow-primary: 0px 0px 0px 4px rgba(27, 154, 251, 0.2);
    --shadow-secondary: 0px 0px 0px 4px rgba(148, 163, 184, 0.2);
    --shadow-error: 0px 0px 0px 4px rgba(239, 68, 68, 0.2);

    --radius: 0.5rem;

    --text: 0, 0%, 100%, 1;
    --text-light: 0, 0%, 60%, 1;
  }

  .dark {
    --background: 223 70% 4%;
    --foreground: 214 30% 91%;

    --card: 223 70% 4%;
    --card-foreground: 214 30% 91%;

    --popover: 223 70% 4%;
    --popover-foreground: 214 30% 91%;

    --primary: 11 100% 61%;
    --primary-hover: 11 62% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 98%;
    --secondary-hover: 210 39% 93%;
    --secondary-foreground: 240 33% 1%;

    --muted: 224 46% 11%;
    --muted-foreground: 215 16% 57%;

    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-hover: 0 65% 26%;
    --destructive-foreground: 210 40% 98%;

    --available: 142 71% 45%;
    --unavailable: 0 84% 60%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 217 33% 17%;

    --text: 0 0% 100%;
    --text-light: 0, 0%, 60%;
  }
}

@layer base {
  * {
    @apply border-border outline-none ring-0;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  .h1 {
    @apply text-h1 font-sans;
  }

  .h2 {
    @apply text-h2 font-sans;
  }

  .h3 {
    @apply text-h3 font-sans;
  }

  .h4 {
    @apply text-h4 font-sans;
  }

  .h5 {
    @apply text-h5 font-sans;
  }

  .h6 {
    @apply text-h6 font-sans;
  }

  .tiny {
    @apply text-tiny font-sans;
  }

  .body1 {
    @apply text-body1 font-looped;
  }

  .body2 {
    @apply text-body2 font-looped;
  }

  .body3 {
    @apply text-body3 font-looped;
  }
}
